@font-face {
  font-family: "Aribau Grotesk";
  src: url("../assets/fonts/AribauGrotesk-Bold.woff2") format("woff2"),
    url("../assets/fonts/AribauGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aribau Grotesk";
  src: url("../assets//fonts/AribauGrotesk-Regular.woff2") format("woff2"),
    url("../assets//fonts/AribauGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
