.segmentedControl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--base-color-gray-75);
  padding: 4px;
  border-radius: var(--border-radius-button);
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.segmentedControl:has(.segmentedControlOption > input:disabled) {
  opacity: 0.5;
  pointer-events: none;
}

.segmentedControlOption > input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.segmentedControlOption:has(input:focus-visible) {
  box-shadow: var(--shadow-focus);
}

input:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.segmentedControlOption {
  position: relative;
  width: 100%;
  border-radius: var(--border-radius-button);
}

.segmentedControlOptionContainer {
  background-color: transparent;
  padding: 4px 10px;
  font-size: 14px;
  line-height: 20px;
  min-height: 32px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--base-color-gray-900);
  width: 100%;
  position: relative;
  z-index: 2;
  transition: transform 100ms var(--animation-curve-elastic), opacity 200ms ease;
  cursor: pointer;
}

/* Change opacity when hovered and not checked */
.segmentedControlOption
  > input:not(:checked):hover
  + .segmentedControlOptionContainer {
  opacity: 0.5;
}

/* Change scale when pressed and not checked */
.segmentedControlOption
  > input:not(:checked)
  + .segmentedControlOptionContainer:active {
  transform: var(--transform-scale-pressed-dramatic);
}

/* Scale the backplate when hovering over an unchecked option */
.segmentedControl:hover:has(.segmentedControlOption > input:not(:checked):hover)
  .backplate {
  transform: scaleX(1.04); /* Scale the backplate */
}

/* Scale the backplate when hovering over an unchecked option */
.segmentedControl:hover:has(
    .segmentedControlOption > input:not(:checked):active
  )
  .backplate {
  transform: scaleX(1.06); /* Scale the backplate */
}

/* Backplate styles */
.backplate {
  z-index: 1;
  position: absolute;
  height: calc(100% - 8px);
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-button);
  transition: left 180ms var(--animation-curve-decelerate), transform 200ms ease;
}
