:root {
  --checkbox-size: 18px;
}

.checkbox > input {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.checkboxCircle {
  cursor: pointer;
  min-height: 36px;
  min-width: 36px;
  border-radius: 99px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 200ms ease;

  &:hover {
    background-color: color-mix(
      in srgb,
      var(--color-primary-default) 8%,
      white
    );
  }

  &:active {
    background-color: color-mix(
      in srgb,
      var(--color-primary-default) 20%,
      white
    );
  }
}

input:focus-visible + .checkboxCheckmarkContainer {
  box-shadow: var(--shadow-focus);
}

.checkboxCheckmarkContainer {
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  background-color: var(--color-primary-default);
  border: solid 2px var(--color-primary-default);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  position: relative;
  overflow: hidden;
  color: white;
}

// when not-checked styles
input:not(:checked) ~ .checkboxCircle > .checkboxCheckmarkContainer {
  border-color: var(--color-divider-medium);
}

.containerBackplate {
  background-color: var(--color-secondary-default);
}

.containerBackplate {
  background: white;
  position: absolute;
  height: var(--checkbox-size);
  width: var(--checkbox-size);
  transform-origin: 50% 50%;
  transition: transform 180ms var(--animation-curve-accelerate),
    background-color 200ms ease;
  z-index: 2;
  transform: scale(1);
}

input:checked
  ~ .checkboxCircle
  > .checkboxCheckmarkContainer
  > .containerBackplate {
  transform: scale(0);
}

input:not(:checked) ~ .checkboxCheckmarkContainer > .checkmark {
  display: none;
}
