.footer {
  background-color: white;
  border-top: solid 1px var(--color-divider-low);
  padding: var(--spacing-app-y) var(--spacing-app-x);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
