//
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh; // Set height to 100% of the viewport height
}

.spacer {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background: var(--base-color-purple-100);
}

.scrollContainer {
  height: 100%;
  flex-grow: 1;
  overflow: scroll;
  padding-top: 12px;
  padding-bottom: 12px;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

// animated button label wrapper
.buttonLabelWrapper {
  width: 100%;
  height: 20px;
  overflow: hidden;
}

// animated button label
.buttonLabel {
  height: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
