.button {
  background-color: var(--color-background-primary);
  display: inline-flex;
  padding: 4px 10px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  font-weight: 800;
  outline: none;
  border: none;
  transition: background 200ms ease;


  &:hover {
    background:  #4F18B7;
  }

  &:active {
    background: #370B81;
  }
}
