.button {
  display: inline-flex;
  padding: 8px 10px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 8px;
  font-size: 14px; // Fixed typo from 14x to 14px
  line-height: 20px;
  font-weight: 700;
  outline: none;
  border: none;
  min-height: 32px;
  cursor: pointer;
  transition: background-color 120ms ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.buttonVariantPrimary {
  background-color: var(--base-color-purple-700);
  color: white;

  &:hover {
    background-color: var(--base-color-purple-800);
  }

  &:active {
    background-color: var(--base-color-purple-900);
  }
}

.buttonVariantSecondary {
  background-color: var(--base-color-gray-75);
  color: var(--base-color-gray-900);

  &:hover {
    background-color: var(--base-color-gray-100);
  }

  &:active {
    background-color: var(--base-color-gray-200);
  }
}
