.button {
  display: inline-flex;
  padding: 8px 10px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  outline: none;
  border: none;
  min-height: 32px;
  cursor: pointer;
  transition: background-color 120ms ease;
  position: relative;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.buttonLabel {
  height: 20px;
  background-color: red;
  overflow: hidden;
}

.buttonVariantPrimary {
  background-color: var(--color-primary-default);
  color: white;

  &:hover {
    background-color: var(--color-primary-hover);
  }

  &:active {
    background-color: var(--color-primary-pressed);
  }
}

.buttonVariantSecondary {
  background-color: var(--color-secondary-default);
  color: var(--color-text-high);

  &:hover {
    background-color: var(--color-secondary-hover);
  }

  &:active {
    background-color: var(--color-secondary-pressed);
  }
}
